<?xml version="1.0" encoding="UTF-8"?>
    <plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
            id="com.neevtech.cordova.echo" version="0.0.1">
        <name>EchoPlugin</name>
        <description>Cordova Echo Plugin</description>
        <license>Apache 2.0</license>
        <keywords>cordova,echo</keywords>
        <js-module src="www/echo.js" name="echo">
            <clobbers target="echo" />
        </js-module>
        <platform name="android">
            <config-file target="config.xml" parent="/*">
                <feature name="Echo">
                    <param name="android-package" value="com.neevtech.cordova.Echo"/>
                </feature>
            </config-file>
	   <config-file target="res/xml/config.xml" parent="/*">
                <feature name="Echo">
                    <param name="android-package" value="com.neevtech.cordova.Echo"/>
                </feature>
            </config-file>
            
            <source-file src="src/android/Echo.java" target-dir=”src/com/neevtech/cordova” />
        </platform>
</plugin>